# Dependencies
node_modules

# Build output
.next
dist
build

# Generated test coverage reports
coverage/
apps/backend/coverage/
apps/frontend/coverage/

# Environment
.env
.env.local
.env.production

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
yarn-debug.log*

# TypeScript
*.tsbuildinfo
